<%= render "shared/errors", obj: @article %>

<%= form_for @article do |f|%>
  <div class="form-group row">
        <div class="col-md-12"><br></div>
        <%= f.label :title, class: "col-sm-2 col-form-label" %>
        <div class="col-sm-10 noleftpad">
            <%= f.text_field :title, class: "form-control", placeholder: 'Title' %>
        </div>

        <br><br>

        <%= f.label :description, class: "col-sm-2 col-form-label"  %><br>
        <div class="col-sm-10 noleftpad">
            <%= f.text_area :description, rows: 10,  class: "form-control" %>
        </div>
        <br><br>

        <div class="col-md-12"><br></div>
        <%= f.submit class: "btn btn-primary btn-lg offset-md-2" %><br>
    </div>

<%end%>

<%= link_to  "Back to Posts", articles_path %>