<h2 align='center'> Title: <%= @article.title%> </h2>

<div class="card card-body bg-light">    
    <%= simple_format(@article.description) %>
</div>

<div class="center">    
    <br>
    <%= link_to  "Edit this post", edit_article_path(@article), class: 'btn btn-primary btn-xs' %>
    |
    <%= link_to  "Delete this post", article_path(@article), method: :delete, data: {confirm: 'Are you sure you want to delete the article'}, class: 'btn btn-danger btn-xs' %>
    |
    <%= link_to  "Back to Posts", articles_path, class: 'btn btn-success btn-xs' %>
</div>
